<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head"></head>
<body>

<div class="container center">
  <!-- FACEBOOK SIGNIN -->
  <div class="card">
    <article class="card-body">
      <a href="#" class="float-right btn btn-outline-primary">Sign up</a>
      <h4 class="card-title mb-4 mt-1">Sign in</h4>
      <p>
        <a th:href="@{/oauth2/authorization/facebook}"
           class="btn btn-block btn-outline-primary">
          <i class="fab fa-facebook-f"></i>
          Login via facebook
        </a>
      </p>
      <hr>
      <form th:action="@{/login/authenticate}" method="post">
        <div class="form-group">
          <label for="userEmail">Email</label>
          <input
              name="username"
              type="email"
              placeholder="Email"
              class="form-control"
              id="userEmail"/>
        </div> <!-- form-group// -->
        <div class="form-group">
          <label for="userPassword">Password</label>
          <input
              name="password"
              type="password"
              placeholder="Password"
              class="form-control"
              id="userPassword"/>
        </div> <!-- form-group// -->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div> <!-- form-group// -->
          </div>
          <div class="col-md-6 text-right">
            <a class="small" href="#">Forgot password?</a>
          </div>
        </div> <!-- .row// -->
      </form>
    </article>
  </div> <!-- card.// -->

  <!-- Demo credentials -->
  <div class="container">
    A user and password pairs that you may use:
    <li>lucho@example.com/topsecret (for admin user)</li>
    <li>user@example.com/topsecret (for normal user)</li>
  </div>
  <!-- EO: Demo credentials -->

  <!-- Bootstap JS -->
  <div th:replace="fragments/bootstrap-js :: bootstrap-js"></div>
  <!-- EO: Bootstap JS -->
</div>
</body>
</html>
